<% title "L2bay software" %>

<p>Usage: just download, run and follow short installation instructions.</p>
<p><%= link_to "Download", software_download_path, class: 'btn btn-large btn-primary' %></p>
