<td>
  <abbr title="<%= "#{shop.location_name}: #{shop.coordinates}" %>">
    <%= truncate(shop.location_name, length: 10, omission: '..') %>
  </abbr>
</td>
<td><%= shop.player %></td>
<td><%= timeago shop.seen_time %></td>
