<% title(@item.name + (@item.sa.present? ? " [#{@item.sa}]" : '')) %>

<%= products_block(@products_being_sold, "Products Being Sold") %>
<%= products_block(@products_being_bought, "Products Being Being") %>

<% unless products_found? %>
  <p>Still no products found..</p>
<% end %>
