<% title(@item.name + (@item.sa.present? ? " [#{@item.sa}]" : '')) %>

<%= product_block(being_sold(@products), "Products Being Sold") %>
<%= pack_block(@packs, "Packages", @item) %>
<%= product_block(being_bought(@products), "Products Being Bought") %>

<% unless products_found? %>
  <p>Still no product found..</p>
<% end %>
