<% title(@item.name + (@item.sa.present? ? " [#{@item.sa}]" : '')) %>

<% if @products.count > 0 %>
  <h2>Products</h2>
  <%= render partial: 'products', locals: {products: @products} %>
<% else %>
  <p>Still no products found..</p>
<% end %>
