.products {
  .item, .seenTime {
    width: 25%;
  }
  .count {
    width: 15%;
  }
  .price, .location {
    width: 10%;
  }
  .player {
    width: 15%;
  }
}

.offers {
  margin-top: 80px;
}

a.searchItem {
  display: block;
  overflow: hidden;
  line-height: 4em;
  &:hover {
    background-color: whiteSmoke;
  }
  text-decoration: none;
}

.itemIcon {
  float: left;
  padding: 0 10px;
}
