.products, .shops {
  .products {
    width: 30%;
  }
  .enchant {
    width: 15%;
  }
  .count {
    width: 15%;
  }
  .price {
    width: 15%;
  }
  .location {
    width: 15%;
  }
  .player {
    width: 15%;
  }
  .seenTime {
    width: 25%;
  }
}

.offers {
  margin-top: 80px;
}

a.searchItem {
  display: block;
  overflow: hidden;
  line-height: 4em;
  &:hover {
    background-color: whiteSmoke;
  }
  text-decoration: none;
}

.itemIcon {
  float: left;
  padding: 0 10px;
}

.server-selection {
  float: right;
}

.others_toggler {
  font-size: 12px;
}
