<h1>Listing logs</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @logs.each do |log| %>
  <tr>
    <td><%= timeago log.created_at %></td>
    <td><%= log.title %></td>
    <td><%= log.description %></td>
  </tr>
<% end %>
</table>
